* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}


.book {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cover-1,
.cover-2,
.cover-3,
.back-cover-1,
.back-cover-2,
.back-cover-3 {
    height: 300px;
    width: 260px;
    background: black;
    border-radius: 2px 20px 20px 2px;
    position: absolute;
    box-shadow: 1px 1px 10px gray;
    transform: rotateX(10deg); 
}
.page-1,
.page-2,
.page-3,
.last-page-1,
.last-page-2,
.last-page-3 {
    height: 280px;
    width: 250px;
    background: white;
    position: absolute;
    border-radius: 2px 10px 10px 2px;
    transform: rotateX(10deg); 
}


.last-page-1 img,
.last-page-2 img,
.last-page-3 img{
    width: 150px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
}


.last-page-1 h2,
.last-page-2 h2,
.last-page-3 h2 {
    text-align: center;
    font-size: 32px;
}